@import "tailwindcss";

:root {
  --primary: #6366f1;
  --card-suface: #1a1a1a;
  --border: #2a2a2a;
  --text: #ffffff;
  --muted-text: #9ca3af;
  --background: #0f0f0f;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
